.tab-system {
    overflow-x: hidden;
    flex-grow: 1;
}

.full-width {
    width: 100%;
}

.custom-bottom-border {
    border-bottom: 2px solid #adadad;
}

.small-margin {
    margin: 10px;
}

.medium-margin {
    margin: 20px;
}

.large-margin {
    margin: 30px;
}

.menu-button {
    margin: 50px;
    z-index: 2002;
    top: -20px;
    left: -20px;
}

.hide {
    display: none;
}

.sidebar {
    display: flex;
    z-index: 2001;
}

.drawer {
    width: 800px;
    flex-shrink: 0;
}

.drawer-paper {
    width: 800px;
    opacity: 0.95;
}
