
    @media screen and (max-width: 1280px) {

        .menuColumn .categoryName .titleText, .editConstraintsHeader {
            font-size: 20px;
        }
        .menuHeaderLabel, .btn {
            font-size: 18px !important;
        }
        .layerSelector label, .sliderLabel, .checkbox-section-label, .checkbox-section-title {
            font-size: 16px;
        }

    }

    @media screen and (max-width: 1200px) {

        .menuColumn .categoryName .titleText, .editConstraintsHeader {
            font-size: 18px;
        }
        .menuHeaderLabel, .btn {
            font-size: 16px !important;
        }
        .layerSelector label, .sliderLabel, .checkbox-section-label, .checkbox-section-title {
            font-size: 14px;
        }

    }

    @media screen and (max-width: 1120px) {

        .menuColumn .categoryName .titleText, .editConstraintsHeader {
            font-size: 16px;
        }
        .menuHeaderLabel, .btn {
            font-size: 14px !important;
        }
        .layerSelector label, .sliderLabel, .checkbox-section-label, .checkbox-section-title {
            font-size: 12px;
        }

    }

    @media screen and (max-width: 1050px) {

        .menuColumn .categoryName .titleText, .editConstraintsHeader {
            font-size: 14px;
        }
        .menuHeaderLabel, .btn {
            font-size: 12px !important;
        }
        .layerSelector label, .sliderLabel, .checkbox-section-label, .checkbox-section-title {
            font-size: 10px;
        }

    }

    @media screen and (max-width: 980px) {

        .menuColumn .categoryName .titleText, .editConstraintsHeader {
            font-size: 12px;
        }
        .menuHeaderLabel, .btn {
            font-size: 10px !important;
        }
        .layerSelector label, .sliderLabel, .checkbox-section-label, .checkbox-section-title {
            font-size: 9px;
        }

    }